<article class="row post-info">
    <div class="col-6">
        <a href="/post/{{id}}"><h1>{{title}}</h1></a>
    </div>
    <div class="col-6 post-date">
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <div class="col-12 post-content">
        <p>{{post_content}}</p>
    </div>
</article>